
       <div class="row no-gutter">
      The image half -->
        <div class="col-md-6 d-none d-md-flex">
        </div>
          <!-- The content half -->
        <div class="col-md-6">
          <div class="login d-flex align-items-center">
          <!-- Demo content-->
              <div class="row">
                <div class="col-lg-11 col-xl-10">
                  <%= simple_form_for [@block, @flashcard] do |f| %>
                    <%= f.input :question, label: "Ajouter une question", as: :text, input_html: { class: "offer-bar" } %>
                    <%= f.input :answer, label: "Ajouter une réponse", as: :text, input_html: { class: "offer-bar" } %>
                    <%= f.submit "Sauvegarder", class: "btn btn-pink mt-4" %>
                  <% end %>
                  </div> <!-- fin form simple form -->
                </div> <!-- fin col lg 10 col xl 7 -->
            </div><!-- fin container -->
          </div> <!-- fin div login -->
        </div>
