// Define variables for your color scheme

// Font & bootstrap value :
$dark-gray: #484848;
$yellow: #FFFF00;
$orange: #FF9933;
$white: #FFFFFF;
$green: green;

/* nice colors */
$light: #ebebebff;
$pink: #fbdce2ff;
$red: #ff5a5fff;
$gray: #5d576bff;
$blue: #00afb5ff;
