<h1>Les cours disponible</h1>

<%= link_to  "Créer une lecture", new_lecture_path, class: "btn btn-primary" %>
<br>
<br>


<% ["Art", "Developpement", "Gastronomie", "Langue", "Musique", "Photo & video", "Gaming", "Beauté", "Culture générale", "Nature"].each do |categorie|  %>
  <div class="card-board">
    <% @lectures.where(category: categorie).each do |lecture| %>
      <div class="card-lecture">
        <div class="card-lecture-image">
          <img src="https://kitt.lewagon.com/placeholder/users/ameliend" class="card-avatar avatar-bordered" />
        </div>
        <h1><%= lecture.category %></h1>
        <p><%= lecture.description %></p>
        <p>Created by <%= lecture.user.first_name %></p>
      </div>
    <% end %>
  </div>
<% end %>

