// link add a chapter
.link-add-chapter-lecture-right {
  color: $blue;
  margin-left: 0px;
  padding: 0px;
}

.link-add-chapter-lecture-right:hover {
  color: $gray;
  padding: 0px;
  text-decoration: none;
}

.border-left {
  border-left: $gray solid;
}
