
.left-menu {
  background-color: $gray;
  color: white;
  padding: 30px;
  height: 400vh;
}

.card-menu-course {
  margin-bottom: 20px;
}

.card-menu-course h3 {
  font-size: 24px;
}

.image-left {
  width: 31px;
  height: 23px;
  margin-right: 5px;
}

.list-unstyled {
  margin-top: 5px;
  margin-left: 30px;
}

.list-unstyled li {
  padding-bottom: 5px;
}

.modify-course {
  margin-left: 10px;
}
