

.card-menu-course {
  margin-bottom: 20px;
}

.card-menu-course h3 {
  font-size: 24px;
}

.image-left {
  width: 31px;
  height: 23px;
  margin-right: 5px;
}

.modify-course {
  margin-left: 10px;
}

.link-edit-lecture-left {
  color: $blue;
  margin-left: 5px;
}

.link-edit-lecture-left:hover {
  color: white;
}

.modal-title {
  color: $blue;
}

.modal-body {
  color: $gray;
}
