<!--Hey! This is the original version
of Simple CSS Waves-->


<!--Header ends-->

<!--Content starts-->
<div class="content flex">
<p>Amélien, Charlie, Olivia & Raphael at le Wagon | 2021 | FINK</p>
</div>
<!--Content ends-->
