<!--Hey! This is the original version
of Simple CSS Waves-->


<!--Header ends-->

<!--Content starts-->
<div class="content flex">
<p>Amélien, Charlie, Olivia & Raphael @ Le Wagon | 2021 | FINK <i class="fas fa-heart" style="color: pink;"></i></p>
</div>
<!--Content ends-->
