<div class="margintop">
  <div class="row">
    <div class="col-3 left-menu">
      <%= render partial:'pages/shared/manage_courses', :locals => { lecture: @lecture } %>
    </div> <!-- col-3 -->


    <div class="col-9">
      <div id="edit-lecture-ajax">
        
      </div>
    </div> <!-- col 9-->
  </div> <!--row  -->
</div> <!-- margin top -->
