<div class="margintop">
<div class="test">
  <%= link_to  "Réserver", '#', class: "btn button-pink" %>
  <%= link_to  "Sauvegarder", '#', class: "btn button-blue" %>
  <%= link_to  "Publier", '#', class: "btn button-gray" %>
  <%= link_to  "S'inscrire", '#', class: "btn button-red" %>


  <!-- CECI EST UN BLOC VIDEO -->
  <div class="videobloc">
    <div class="round"></div>
    <div class="play"></div>
    <div class="play-red"></div>
  </div>
</div>
</div>
