.category-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-item {
  flex: 0 0 30%;
  margin: 5px;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  text-align: left;
  padding: 10px 10px 30px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  background-color: white;
}

.category-selector:checked + label {
  color: white !important;
}


#lecture_category_developpement + label {
  color: #FD1015;
  background-image: asset_url("icon-dev.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-size: 20%;
}

#lecture_category_developpement:checked + label {
  background-color: #FD1015;
  border-color: #FD1015;
}


#lecture_category_art + label {
  color: #FFC65A;
  background-image: asset_url("icon-art.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-size: 20%;
}

#lecture_category_art:checked + label {
  background-color: #FFC65A;
  border-color: #FFC65A;
}


#lecture_category_gastronomie + label {
  color: #62DDF5;
  background-image: asset_url("icon-gas.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-size: 20%;
}

#lecture_category_gastronomie:checked + label {
  background-color: #62DDF5;
  border-color: #62DDF5;
}


#lecture_category_langue + label {
  color: #E450EF;
  background-image: asset_url("icon-langue.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-size: 20%;
}

#lecture_category_langue:checked + label {
  background-color: #E450EF;
  border-color: #E450EF;
}

#lecture_category_musique + label {
  color: #BA8555;
  background-image: asset_url("icon-music.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-size: 20%;
}

#lecture_category_musique:checked + label {
  background-color: #BA8555;
  border-color: #BA8555;
}

#lecture_category_photo__video + label {
  color: #00410F;
  background-image: asset_url("icon-photo.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-size: 20%;
}

#lecture_category_photo__video:checked + label {
  background-color: #00410F;
  border-color: #00410F;
}

#lecture_category_gaming + label {
  color: #DE7D15;
  background-image: asset_url("icon-game.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-size: 20%;
}

#lecture_category_gaming:checked + label {
  background-color: #DE7D15;
  border-color: #DE7D15;
}

#lecture_category_beauté + label {
  color: #6710C0;
  background-image: asset_url("icon-beaute.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-size: 20%;
}

#lecture_category_beauté:checked + label {
  background-color: #6710C0;
  border-color: #6710C0;
}
#lecture_category_culture_générale + label {
  color: #1737B2;
  background-image: asset_url("icon-cult.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-size: 20%;
}

#lecture_category_culture_générale:checked + label {
  background-color: #1737B2;
  border-color: #1737B2;
}

#lecture_category_nature + label {
  color: #8AC642;
  background-image: asset_url("icon-nature.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-size: 20%;
}

#lecture_category_nature:checked + label {
  background-color: #8AC642;
  border-color: #8AC642;
}
