.search-bar{
  margin-left: 40px;
  margin-right: 40px;
}

#search{
    width: 217px;
    padding: 8px;
    border-radius: 30px;
}

// .search-btn{
//   border-radius: 60px;
//   padding: 4px;
//   background-color: $blue;
//   font-size: 14px;
//   margin-right: 20px;
//   margin-left: 11px;
// }

